<!DOCTYPE html>
<head>
	<title>Oracle Online</title>
	<meta charset='utf-8'>
	<link rel='stylesheet' href='static/styles.css'>
	<script src='static/main.js'></script>
</head>
<body>
	<header>
		<h1>Oracle Online</h1>
		<p>
			<em>Crush your enemies, harness the elements, and build your empire</em>,
			online!
	</header>
	<main>
		<div id='game-players'></div>
		<div id='game-stack'></div>
		<div id='game-hand'></div>
		<div id='game-spy-hand'></div>
		<div id='controls'></div>
		<fieldset id='join-form'>
			<p>
				If you are a resuming player, please enter your player id in
				the field below. Otherwise, leave the field blank.
			<p>
				<input type='number' id='auth-player-id-field'/>
				<button id='join-button'>Join!</button>
		</fieldset>
		<p id='error-message'>
	</main>
</body>
